.bookmark-card {
  width: 15rem;
  height: 38rem;
  margin: 7px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: $light-gray;
  position: relative;
  .cover {
    width: 100%;
    height: auto;
  }
  .remove-btn {
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 20px;
    color: black;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.384);
    width: 5px;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: 0.5s ease;
    &:hover {
      background-color: red;
      color: $light-gray;
    }
  }
}

.movie-card {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 2rem;
  display: flex;
  height: 26rem;
  .cover {
    margin-right: 6px;
    height: 100%;
    width: auto;
  }
  .content{
    margin-right: 6px;
    margin-left: 12px;
  }
}
